body {
    background: url('/ui/articlebg.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    overflow: auto;
}

.container{
	position: relative;
}

.wrap{
    margin:10px;
}

.heading{
    text-align:center;
    font-family: 'Delius Unicase', cursive;
    font-size:5em;
}

.date{
    font-family: 'Delius Unicase', cursive;
    font-size:2em;
}

.content{
    padding:10px;
    font-family: 'Lobster', cursive;
    font-size:2em;
    text-align:justify;
}