body {
    background: url('/ui/articlebg.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    overflow: auto;
}

.container{
	position: relative;
	text-align:center;
}

.wrap{
    margin:15px;
    box-sizing:border-box;
    background-color: black;
    border:2px;
    border-radius:4px;
}

.heading,h3{
    text-align:center;
    font-family: 'Satisfy', cursive;
    font-size:5em;
    opacity:2;
    color:#f8f9f2;
}

.date,h4{
    font-family: 'Tangerine', cursive;
    font-size:2em;
    opacity:1;
    color:#f8f9f2;
}

.content{
    padding:10px;
    font-family: 'Just Another Hand', cursive;
    font-size:1.5em;
    text-align:justify;
    opacity:1;
    color:#f8f9f2;
}

.content2{
    padding:10px;
    font-family: 'Just Another Hand', cursive;
    font-size:2em;
    text-align:justify;
    opacity:1;
    color:#f8f9f2;
}

.navbar-brand{
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    text-shadow: 3px 3px #427d19;
    text-align: left;
    vertical-align: top;
    margin-top:5px;
    padding-left: 20px;
}

a:hover,a:focus {
  text-decoration: none;
}

#submit{
    width: 100px;
    background-color:#7CFC00;
    border-color:#4da951;
    border-radius: 6px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin:10px;
}

#comments{
    padding:10px;
    font-family: 'Just Another Hand', cursive;
    font-size:2em;
    text-align:justify;
    opacity:1;
    color:#f8f9f2;
    margin:10px;
}