.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

@keyframes example {
    from {color: black;}
    to {color: red;}
}

/* The element to apply the animation to */
.header{
    margin:0;
    height:100px;
    background-color:yellow;
    padding:0;
}

.title{
    text-align: center;
    font-size:3em;
    margin:20px;
    margin-top:10px;
    color:black;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

