body {
    font-family: sans-serif;
    background-color: lightyellow;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.header{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
